@font-face {
    font-family: customFont1;
    src: url(./fonts/JosefinSans-VariableFont_wght.ttf);
}

@font-face {
    font-family: myCustomFont2;
    src: url(./fonts/Bangers-Regular.ttf);
}

* {
    cursor: default;
}

a {
    cursor: pointer;
}

body {
    font-family: customFont1;
    background-color: #4c586b;
}

.main-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 15rem;
}

h1 {
    font-size: 5rem;
    color: cornflowerblue;
}

h2 {
    font-size: 3rem;
    color: cornflowerblue;
}

header {
    display: flex;
    min-height: 10rem;
    background-color: #13243b;
    align-items: center;
    box-shadow: 0 0 .5rem .1rem rgb(48, 48, 48);
    z-index: 1;
}

.centering {
    flex: 1;
    display: flex;
    justify-content: center;
}

.title {
    text-align: center;
}

a {
    color: cornflowerblue;
    text-decoration: none;
    text-align: center;
    transition: color .6s cubic-bezier(.19, 1, .22, 1), transform .6s cubic-bezier(.19, 1, .22, 1);
}

a:hover {
    color: #E63946;
    transform: scale(1.15);
}

a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #fff;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .6s cubic-bezier(.19, 1, .22, 1);
}

a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.links-left {
    gap: 3rem;
    justify-content: flex-end;
}

.links-right {
    gap: 3rem;
    justify-content: flex-start;

}

.aboutme-image {
    max-height: 30rem;
    max-width: 20rem;
    margin-top: 2rem;
}

.aboutme-p {
    color: #F1FAEE;
    text-align: center;
    max-width: 40rem;
    line-height: 1.3;
}

.aboutme-tab {
    font-size: 3rem;
    position: absolute;
    bottom: 1.5rem;
    color: #1D3557;
    text-align: center;
    cursor: pointer;
    transition: transform .5s;
}

.slide-out .aboutme-arrow {
    color: #1D3557;
}

.aboutme-arrow {
    position: absolute;
    font-size: 1.8rem;
    color: #E63946;
    cursor: pointer;
    opacity: .5;
    bottom: .4rem;
}

.slide-out {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    position: relative;
    min-height: 40rem;
    bottom: 35rem;
    padding-top: 1rem;
    background-color: #E63946;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    transition: bottom .5s;
    z-index: 0;
}

.slide-out h2 {
    margin-top: 1rem;
}

.slide-out2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    position: relative;
    min-height: 40rem;
    bottom: 70rem;
    padding-top: 1rem;
    background-color: #13243b;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    box-shadow: 0 0 3rem .2rem rgb(48, 48, 48);
    transition: bottom .5s;
    z-index: -1;
}

.links-tab {
    font-size: 3rem;
    color: #E63946;
    text-align: center;
    position: absolute;
    cursor: pointer;
    bottom: 1.5rem;
    transition: transform .5s;
}

.tab-active {
    transform: scale(.5);
}

.slide-out2-title {
    font-size: 2rem;
    margin-top: 4rem;
    text-align: center;
}

.slide-out-active {
    bottom: 0rem;
}

.slide-out2-active {
    bottom: 38rem;
}

.skills-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 50rem;
    height: 25rem;
    gap: 1rem;
}

.skills-table div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E63946;
    box-shadow: 0 0 .5rem .1rem white;
    padding: 1rem;
    border-radius: 2rem;
    gap: .5rem;
}

.skills-table h1 {
    font-size: 1.1rem;
    color: #13243b;
}

.skills-table img {
    max-width: 8rem;
    max-height: 4rem;
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    position: absolute;
    top: 24rem;
    width: 100%;
    height: 100rem;
    z-index: -2;
}

.projects h1 {
    color: #1D3557;
    width: 70rem;
    text-align: center;
    border-radius: 4rem;
    padding: 1rem;
    background-color: cornflowerblue;
    box-shadow: 0 .2rem .7rem 0 black;
}

.madlib-madness {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #008ee7;
    padding: 1.5rem;
    border-radius: 2rem;
    box-shadow: 0 .1rem .5rem 0 rgb(33, 33, 33);
    gap: 2rem;
}

.madlib-madness-title {
    font-family: myCustomFont2;
    color: lightgreen;
    font-size: 5rem;
    text-shadow: 0 .2rem .3rem #13243b;
}

.madlib-madness img {
    width: 55rem;
    border-radius: 1rem;
}

.madlib-madness p {
    color: #F1FAEE;
    width: 50rem;
    font-size: 1.2rem;
    text-align: center;
}

.madlib-madness h4 {
    font-size: 3rem;
    color: #E63946;
    text-shadow: 0 .1rem .3rem #13243b;
}

.madlib-madness ul {
    display: flex;
    gap: 1rem;
}

.madlib-madness>ul li {
    color: #13243b;
    font-size: 1.2rem;
}

.madlib-madness>div {
    display: flex;
    gap: 3rem;
}

.madlib-madness>div>a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #1D3557;
    gap: .5rem;
}

.madlib-madness>div>a:hover {
    color: #E63946;
}

.madlib-madness>div>a>img {
    cursor: pointer;
    width: 5rem;
    border-radius: 3rem;
}

.footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #13243b;
    height: 4rem;
    width: 100%;
    transition: border-radius .6s, padding-top .6s;
}

.footer-active {
    padding-top: 17rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

.footer>div {
    display: flex;
    padding: 2rem;
    gap: 1rem;
}

.footer>span {
    padding: 1.5rem;
    color: cornflowerblue;
}

.footer>div>a>img {
    height: 2.5rem;
    cursor: pointer;
}

.footer>section {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    right: 0;
    left: 0;
    margin: auto;
    width: 15rem;
    padding-top: 1rem;
    padding-bottom: 3rem;
    border-radius: 50%;
    background-color: #13243b;
    transition: bottom .6s;
}

.footer>section>div {
    width: max-content;
}

.footer>section>div>h2 {
    text-align: center;
    rotate: 180deg;
    font-size: 1.4rem;
    line-height: .7rem;
    cursor: pointer;
}

.footer>section>div>h1 {
    font-size: 1.5rem;
    text-align: center;
    cursor: pointer;
}

.footer>aside {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1rem;
    position: relative;
    bottom: 10rem;
    transform-origin: bottom;
}

.footer>aside>div {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.footer>aside>div>img {
    max-height: 4rem;
}